        html{
            background-color:black;
            z-index: -1;
        }
        
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 7px;
            padding-bottom: 7px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.9);
            box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
            z-index: 5;
        }

        .navmenu{
            list-style-type: none;
            padding: 0;
            margin-bottom:0;
        }

        .navbar{
            height: var(--header-height);
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
        .navlogo{
            margin-left:15px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            text-decoration:none;
            color: white;
            font-weight: var(--font-semi-bold);
            transition: color 0.4s;
        }
        .navops{
            display:flex;
            align-items:center;
            column-gap: 1rem;
        }

        #nav__search,
        #nav__toggle,
        #nav__login{
            font-size: 2rem;
            color: white;
            cursor:pointer;
            transition: color 0.4s;
        }

        #nav__close{
            color:black;
            font-size:2rem;
        }

        :is(#nav__search,
        #nav__toggle,
        #nav__login,
        #nav__close,
        .navlink):hover{
            color: rgb(37, 167, 214);
        }

        @media screen {
            .navmenu{
                position:fixed;
                top:-100%;
                left:0;
                background-color: white;
                border-radius:5px;
                width: 100%;
                padding-block: 4.5rem 4rem;
                transition: top 0.4s;
            }
        }

        .navlist{
            display:flex;
            flex-direction: column;
            row-gap: 2.5rem;
            font-size:1.5rem;
            text-align: center;
            list-style:none;
        }

        .navlink{
            color: var(--title-color);
            font-weight: var(--font-semi-bold);
            transition: color 0.4s;
            text-decoration: none;
            list-style:none;
        }

        .navclose{
            position:absolute;
            top: 1.15rem;
            right:1.5rem;
        }

        .show-menu{
            top:0;
        }

        /* Search */
        .search,.login{
            position: fixed;
            top:0;
            left:0;
            width:99%;
            height:100%;
            z-index: var(--z-modal);
            backdrop-filter: blur(10px);
            padding: 8rem 0.5rem 0;
            opacity:0;
            pointer-events: none;
            transition: opacity 0.5s;
            z-index: 3;
        }

        .search__form{
            display:flex;
            align-items: center;
            column-gap: 1rem;
            background-color: white;
            box-shadow:0 8px 32px hsla(230, 75%, 32%, .2);
            padding-inline: 1rem;
            border-radius:0.5rem;
            transform:translateY(-1rem);
            transition: transform 0.5s;
        }

        .search_input{
            width:100%;
            border:none;
            padding-block:1rem;
            background-color: var(--container-color);
            color: var(--text-color);
            outline:none;
        }

        .search_input::placeholder{
            color:var(--text-color);
        }

        #searchicon{
            font-size:1.25rem;
            padding-block: 1rem;
            color:var(--title-color);
            color: var(--text-color);
            
        }

        #search_close,#login_close{
            position:absolute;
            top:3rem;
            right:3rem;
            cursor:pointer;
            color: white;
            font-size:1.5rem;

        }
        .show-search{
            opacity:1;
            pointer-events:initial;
        }
        .show-search.search__form{
            transform: translateY(0);
        }

        /* Login */
        .loginform,
        .logingroup{
            display:grid;
            margin:auto;
        }

        .loginform{
            background-color: rgba(255, 255, 255, 0.615);
            padding: 2rem;
            width:30%;
            border-radius:1rem;
            box-shadow: 0 8px 32px hsla(230, 75%, 32%, .2);
            row-gap:1.5rem;
            text-align:center;
            transform: translateY(-1rem);
            transition:transform 0.5s;
        }

        .logintitle{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-size:1.5rem;
        }

        .logingroup{
            row-gap:1rem;
        }

        .loginlabel{
            display:flex;
            text-align:initial;
            margin-bottom: 0.25rem;
        }

        .loginbutton{
            display:inline-block;
            background-color:rgb(103,150,160);
            color:white;
            width:90%;
            margin-top:1rem;
            padding:1rem;
            border-radius:0.5rem;
            cursor:pointer;
            transition: box-shadow 0.5s;
        }

        .loginbutton:hover{
            box-shadow: 0 2px 20px rgb(24, 63, 72);
        }

        .show-login{
            opacity:1;
            pointer-events: initial;
        }

        .show-login.loginform{
            transform: translateY(0);
        }

        #usericon{
            transform:scale(4);
        }

        .diamond{
            display:flex;
            transform: scale(1.5)
        }

        /* Main */

        .wrapper{
            width:100%;
            background-color:black;
            color:white;
            display:inline-flex;
        }

        .textbox{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-top:5rem;
            width:80%;
        }
        
        .contactus{
            font-size:30px;
            margin-left:2rem;
            padding:1rem;
            padding-right:2rem;
            background-color:teal;
            border-radius:5px;
            overflow:hidden;
        }

        .inputtext{
            margin-left:2rem;
            font-size:1.5rem;
        }

        .indiamap{
            display:flex;
            margin-left:0px;
            background-image: url("indiamap.png");
            background-repeat: no-repeat;
            background-size:contain;
            height: 918px;
            transform:scale(0.9);
            width:70%;
        }

        .places{
            display:inline-flex;
            list-style-type: none;
        }
        
        .text{
            color:teal;
            font-size:1.5rem;
            margin-left:2rem;
        }

        .listitem{
            font-size:1.5rem;
            border: 2px teal solid;
            padding:1rem;
            margin:0.2rem;
            border-radius: 4px;
            transition: 0.5s ease box-shadow;
        }

        .listitem:hover{
            box-shadow: 2px 3px 10px teal;

        }

        .social{
            font-size:1.5rem;
            word-spacing: 2rem;
        }